---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import BlogLink from "../../components/blog/BlogLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="text-center grid grid-cols-1/4">
      <aside class="z-10 w-full">
        <h2 class="mt-8">Genres</h2>
        <ul>
          <li>A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li>E</li>
        </ul>
      </aside>
      <section class="text-center text-lg my-8 h-screen">
        <h1 class="text-3xl border-b-2 mb-4 py-2 border-b-primary-light/30">
          All Posts
        </h1>
        <ul class="text-primary flex flex-row justify-around">
          {
            posts.map((post) => (
              <BlogLink
                slug={post.slug}
                title={post.data.title}
                coverImage={post.data.coverImage ?? ""}
              />
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
