---
// type Props = {
//   foo: string;
// };
//
// const { foo } = Astro.props;
// console.log(foo);
---

<section role="search" class="flex">
  <button class="mr-2" type="submit"><i class="bi bi-search"></i></button>
  <input
    type="search"
    class="text-primary px-3 rounded"
    placeholder="Seach posts..."
  />
</section>
