.sidebar {
    position:fixed;
    /* top: 0; */
    /* left: 0; */
    width: 20%;
    height: 700%;
    background-color: var(--secondary);
    color: var(--light);
    z-index: 999;
    overflow-y: auto;
}